/*
	COLORS
 
	Pink 			    #ee5662
	
*/


body {
	background-color: #f1e0d8;
}


/* Texto Default */

html {font-size: 62.5%;}

body {
	font-family: "BodoniMT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: normal;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: center;
}


h1 {
	font-size: 60px;
	font-size: 6rem;
	font-family: 'BodoniMT';
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 50px;
	font-size: 5rem;
	font-family: 'BodoniMT-Italic';
	font-weight: normal;
	color: #666;
	margin: 0;
}

p {
	width: 80%;
	margin: 20px auto;
	margin: 2rem auto;

	line-height: 1.2;
}

a, a:visited {
	color: #ed5561;
	text-decoration: none;	
}

small {
	line-height: 1;
	font-style: italic;
	font-size: 20px;
	font-size: 2rem;
}

pre {
	font-size: 18px;
	font-size: 1.8rem;
}

blockquote {
	text-align: left;
	width: 70%;
	margin: 10px auto;
	margin: 1rem auto;
	background: #fff;
	border: solid 3px #959db5;
	padding: 0 40px;
	padding: 0 4rem;
	border-radius: 6px;
	border-radius: .6rem;
}

code {
	font-style: normal;
	padding-left: 5px;
	padding-left: .5rem;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #f1e0d8;
	border-bottom: solid 3px black;
	padding: .10rem;
	padding: 10px;
	opacity: .95;
}

#header .logo {
	display: inline-block;
	height: 55px;
}
nav {
	display: inline-block;
	margin: 10px 0 0 0;
	vertical-align: top;
	height: 55px;
}
.nav-button {
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	font-size: 15px;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-style: normal;
	display: inline-block;
}

 a.nav-button, a.nav-button:visited {
	color: #333;
}

a.nav-button.current {
	color: #ee5662;
}

.current, a.nav-button:hover {
	background: url(../img/menu-hover.png) no-repeat bottom;
	padding-bottom: 5px;
}



/*----------------------------------------  SLIDES  */

.slide {
	margin: 0 auto;
	width: 100%;
	padding: 150px 0;
	padding: 15rem 0;
	height: 100rem;
	clear: both;
}

.slide.first {
	margin: 0 auto;
	padding: 60px 0;
	height: 100%;
}

.slide.sobre {
width: 100%;
text-align: center;
height: 956px;
}

.sobre .boho-chic {
	width: 450px;
	margin: auto;
	text-align: left;

}
.sobre img {position: absolute; z-index: -1; margin: 0; padding: 0 100px;}

.sobre span {
	position: absolute;
	display: inline-block;
	top: 500px;
	margin: 0 30px;
	padding: 0;
}
.sobre h1 {
	font-size: 6rem;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: center;
}

.sobre h2 {
	margin: 0;
	padding: 0;
	font-size: 1.8em;
	font-style: italic;
	color:  #666;
	font-weight: normal;		
}

.bohoa p {
	font-size: 13px;
	font-size: 1.3em;
	color:  #666;
	font-weight: normal;
	padding: 10px;
	margin: 30px auto;	
	text-align: center;
}

#onde-encontrar {
	margin: 0 auto;
	clear: both;
	display: block;
}

.container ul {
	display: inline-block; 
	margin:  50px 20px;
	text-align: left;
	list-style: none;
	padding: 0;

}

.container ul:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }


.container li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.container ul span {
	text-transform: uppercase;
	font-family: 'BodoniMT-Italic';
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: bold;
}

.container ul a {
	font-family: 'BodoniMT-Bold';
	font-size: 13px;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: black;
	background: url(../img/new-window.png) no-repeat left;
	border-bottom: 1px dotted black;
	display: block;
	padding: 0 0 3px 15px;
	margin-bottom: 5px;
}

.container ul a:hover {
	opacity: 0.5;
}

.container ul div {
	font-size: 12px;
	font-size: 1.2rem;
	color: #666;
}

#press {margin: 0 auto;}

.press-box {
	width: 190px;
	margin: 0  10px auto;
	display: inline-block;
}

.press-box h1 {
	font-size: 18px;
	font-size: 1.8rem;
	border-bottom: 2px dotted black;
	padding-bottom: 3px;
}

.press-box h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
}

.press-box img {
	border: 10px solid #fff2eb;
}
.press-box img:hover {
	opacity: 0.7;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;	
}

#colecao {
	height: 150rem;
}

#colecao article {
	margin: 20px;
	font-family: 'BodoniMT-Italic';
	font-weight: normal;
	padding: 0;
	margin: 0 0 auto;
}

#colecao h1 {
	font-family: 'BodoniMT-Italic';
}

#colecao article p {
	color: #666;
	text-align: left;
	font-size: 13px;
	font-size: 1.3em;
	color:  #666;
	font-weight: normal;
	padding: 10px;
	margin: 15px auto;	
}

#colecao .es-carousel li span {
	text-align: left;
	color: #666;
	z-index: 99999999;
}

a.button {
	width: 230px;
	display: block;
	background: #ed5561 url(../img/arrow.png) no-repeat 205px 15px;
	color: white;
	font-family: 'BodoniMT-Italic';
	font-size: 1.2em;
	padding: 8px 20px 8px 0;
	z-index: 1 !important;
	margin: 40px auto;
	margin-bottom: 10px;
	text-align: center;
}

a.button:hover {
	background: black url(../img/arrow.png) no-repeat 205px 18px;
	color: white;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

a.saiba-mais {
	width: 110px;
	display: block;
	background: #ed5561;
	color: white;
	font-family: 'BodoniMT-Italic';
	font-weight: normal !important;
	font-size: 11px;
	font-size: 1.1rem;
	padding: 8px 0;
	z-index: 1 !important;
	margin: auto;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	position: relative;
	top: 110px;
}

a.saiba-mais:hover {
	background: black;
	color: white;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

.destaque {
	color: #ed5561;
	font-family: 'BodoniMT-Italic';
	font-weight: normal;
	font-size: 14px;
	font-size: 2.4rem;
	margin: 20px 0;
}

.social {
	margin: 30px 0;
	border-top: 1px dotted;
	padding: 30px 0;
}
.social h2 {
	text-transform: uppercase;
	font-family: 'BodoniMT-Italic';
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: bold;
	color: black;
	padding: 0 0 20px 0;
}

div.social a {
	display: inline-block;
	padding: 0;
	margin: 0 5px;
	border-bottom: 0px;
	width: 37px;
	background: transparent;
}
/*------------------------  BASE-REM SIZING  */


@media (min-width: 1520px) {
	html {
		font-size: 12px;
	}
/*
		.sobre span {
		top: 90%;
		left: 27%;
	}
*/

}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
	
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 11px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 11px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 11px;
	}
		#press, #colecao, #contato {
			margin-top: 100rem;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 10px;
	}
	#press, #colecao, #contato {
			margin-top: 100rem;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 10px;
	}
		.container ul{
		width: 200px;
		margin: 40px 80px;
	}

	#press, #colecao, #contato {
			margin-top: 100rem;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 10px;
	}

	.container ul{
		width: 200px;
		margin: 20px 60px;
	}

	#press, #colecao, #contato {
			margin-top: 100rem;
	}

	.hide {display: none; visibility: hidden;}

}
	
@media (max-width: 560px) {
	html {
		font-size: 9px;
	}

	.container ul{
		width: 200px;
		margin: 20px 30px;
	}

	#press, #colecao, #contato {
			margin-top: 100rem;
	}

	.hide {display: none; visibility: hidden;}

}

/* Mobile Screen */

@media (max-width: 440px) {
	html {
		font-size: 60%;
	}

	body {

	}

	.bohoa img {
		padding-left: 20px;
	}
	.bohoa p, #colecao article p {text-align: justify; padding: 0;}
	.sobre img {width: 60%; }
	.sobre span {font-size: 0.8em; margin: 0px 60px;}

	.container ul{
		width: 200px;
		margin: 20px 100px;
	}

	#press, #colecao, #contato {
			margin-top: 150rem;
	}

	.hide {display: none; visibility: hidden;}

	h1 {
		font-size: 40px;
		font-size: 4rem;
	}

	h2 {
		font-size: 25px;
		font-size: 2.5rem;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 50% !important;
	}


	.container ul{
		width: 200px;
		margin: 20px 90px;
	}

	.hide {display: none; visibility: hidden;}
}

.zoom {
   display:inline-block;
   position:relative;
}

.zoom img:active, .zoom img:focus, .zoom img:hover {}

.zoom img {
    display: block;
    background: #f1e0d8;
    cursor: pointer;
}
